@model PSWProjektZaliczeniowy.ViewModel.NoweOgloszenie

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="panel panel-success">
    <div class="panel-body">
        <form method="post" enctype="multipart/form-data" asp-controller="Ogloszenia" asp-action="Dodaj">            
            @Html.ValidationSummary(true)
            <fieldset>
                <div class="form-group">
                    <h3>Tytuł:</h3>
                    @Html.TextBoxFor(p => p.Tytul, "", new { Class = "form-control" })
                    <br/>
                    @Html.ValidationMessage("TytulError")
                </div>
                <div class="form-group">
                    <h3>Cena (zostaw puste, jeśli chcesz zamiany):</h3>
                    @Html.TextBoxFor(p => p.Cena, "", new { Class = "form-control" })
                </div>
                <div class="form-group">
                    <h3>
                        Kategoria:
                    </h3>
                    @Html.ListBoxFor(n => n.Podkategoria, (IEnumerable<SelectListItem>)ViewData["Podkategorie"], new { Class = "form-control" })
                    <br />
                    @Html.ValidationMessage("PodkategoriaError")
                </div>
                <div class="form-group">
                    <h3>Opis:</h3>
                    @Html.TextAreaFor(p => p.Opis, 10, 15, new { Class = "form-control" })
                    <br />
                    @Html.ValidationMessage("OpisError")
                </div>
                <div class="form-group">
                    <h3>Załaduj zdjęcia:</h3>
                    <input type="file" name="Zdjecie" />
                </div>
                <input type="submit" value="Dodaj ogłoszenie" />
            </fieldset>
        </form>           
</div>
</div>