@model PSWProjektZaliczeniowy.Model.Ogloszenie

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="panel panel-success">
    <div class="panel-body">
        <form method="post" asp-controller="Ogloszenia" asp-action="Edycja">
            @Html.ValidationSummary(true)
            <fieldset>
                <div hidden="hidden">
                    @Html.TextBoxFor(p => p.OgloszenieId)
                </div>
                <div class="form-group">
                    <h3>Tytuł:</h3>
                    @Html.TextBoxFor(p => p.Tytul, "", new { Class = "form-control" })
                    <br />
                    @Html.ValidationMessage("TytulError")
                </div>
                <div class="form-group">
                    <h3>Cena:</h3>
                    @Html.TextBoxFor(p => p.Cena, "", new { Class = "form-control" })
                </div>                
                <div class="form-group">
                    <h3>Opis:</h3>
                    @Html.TextAreaFor(p => p.Opis, 10, 15, new { Class = "form-control" })
                    <br />
                    @Html.ValidationMessage("OpisError")
                </div>
                <input type="submit" value="Edytuj ogłoszenie" />
            </fieldset>
        </form>
    </div>
</div>