@model PSWProjektZaliczeniowy.Model.Ogloszenie

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h4>@Model.Podkategoria.Kategoria.Nazwa > @Model.Podkategoria.Nazwa</h4>
<div class="panel panel-group panel-info">

    <div class="panel panel-heading">
        <h2>@Model.Tytul</h2> (id ogłoszenia: @Model.OgloszenieId)
    </div>

    <div class="panel">
        <div class="panel-body">
            @if (Model.Zamiana)
            {
                <h3>Zamiana</h3>
            }
            else
            {
                <h3>Cena: <b>@Model.Cena zł</b></h3>
            }
        </div>
    </div>

    <div>
        <div class="panel panel-body">
            <div class="panel">
                <img class="img-responsive img-rounded img-thumbnail" src="~/@Model.Zdjecia" />
            </div>
        </div>

        <div class="panel">
            <div class="panel-body">
                <span>
                    <b>Miasto: </b>
                    @Model.Uzytkownik.Adres
                </span><br/>
                <span>
                    <b>Nr kontaktowy:</b>
                    @Model.Uzytkownik.Nrtel
                </span><br/>
                <span>
                    <b>Email:</b>
                    @Model.Uzytkownik.Email
                </span>
            </div>
        </div>

        <div class="panel panel-body">
            <div class="panel">
                <div>
                    <b>Opis:</b>
                </div>

                <div>
                    @Model.Opis
                </div>
            </div>
        </div>

        <div class="panel panel-body">
            <button class="btn btn-info"
                    onclick="location.href = '/Wiadomosc/Wyslij/@Model.OgloszenieId'">Wyślij wiadomość</button>
        </div>

    </div>
</div>