@model PSWProjektZaliczeniowy.ViewModel.CzytajWiadomoscVM

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!--<div class="panel panel-success">
    <div class="panel-heading">
        <h2>@Model.Wiadomosc.Tytul</h2>
    </div>

    <div class="panel-body">
        <div>
            <b>Nadawca: </b> @Model.Sender.Login
        </div>
        <div>
            <b>Odbiorca: </b> @Model.Receiver.Login
        </div>
        <div>
            <b>Data wysłania: </b> @Model.Wiadomosc.Data
        </div>
        <div>
            <b>Treść:</b>
            <div>
                @Model.Wiadomosc.Tekst
            </div>
        </div>

        <div>
            <br/><br/>
            <button class="btn btn-success"
                    onclick="location.href = '/Wiadomosc/Odpowiedz?id=@Model.Wiadomosc.WiadomoscId&ty=@Model.Wiadomosc.Tytul'">Odpowiedz</button>
        </div>
    </div>
</div>-->

<div class="container">
    <br/>
    <div class="media">
        <div class="media-left">
            <img src="~/images/avatar.png" class="media-object" style="width:45px">
        </div>
        <div class="media-body">
            <h4 class="media-heading">
                @Model.Sender.Imie @Model.Sender.Nazwisko (@Model.Sender.Login)
                <small>
                    <i>wysłano do @Model.Receiver.Login w dniu @Model.Wiadomosc.Data</i>
                </small>
            </h4>
            <p>Tytuł: @Model.Wiadomosc.Tytul</p><p>@Model.Wiadomosc.Tekst</p>
            <br/><button class="btn btn-success media-left"
                    onclick="location.href = '/Wiadomosc/Odpowiedz?id=@Model.Wiadomosc.WiadomoscId&ty=@Model.Wiadomosc.Tytul'">
                Odpowiedz
            </button>
        </div>
    </div>
</div>
<br/>