@model PSWProjektZaliczeniowy.Model.Uzytkownik

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Logowanie</h1>
<br/>

@using (Html.BeginForm(new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true);
    <div class="form-group">
        <fieldset>   
            <div class="form-group">         
                <label class="control-label col-sm-2" for="login">Login:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(u => u.Login, new { @class = "form-control" })
                    @Html.ValidationMessageFor(u => u.Login)
                </div>
            </div>
            <br/>
            <div class="form-group">
                <label class="control-label col-sm-2" for="login">Hasło:</label>
                <div class="col-sm-10">
                    @Html.PasswordFor(u => u.Haslo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(u => u.Haslo)
                </div>
            </div>
            <br/>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Zaloguj</button>
                </div>
            </div>
        </fieldset>
        @Html.ValidationMessage("CustomError")
    </div>
}
<br/>
<div>
    Nie masz konta na naszym portalu?
    <br/>
    <h1 style="color: blue"><a href="/User/Register">
        Zarejestruj się!
    </a></h1>
</div>

